/* 基本スタイル（スマホ向け） */
body {
  font-family: sans-serif;
  margin: 0%;
  padding: 0;
  line-height: 1.5;

  font-size: 30px;

  background-color: rgb(229, 234, 235);
}

h2{
    margin: 0;
}

h3{
    margin: 0;
}

/* iPad 第9世代向け（縦横両対応） */
@media (min-width: 768px) and (max-width: 810px) {
  body {
    font-size: 18px;
    padding: 20px;
  }

  .container {
    width: 100%;
    max-width: 810px; /* iPadの幅に合わせる */
    margin: 0 auto;
  }

  img, video {
    max-width: 100%;
    height: auto;
  }

  button, a {
    padding: 14px 24px; /* タップしやすいサイズ */
  }
}

.button_big1{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    color: white;
    background: rgb(16, 170, 42);

    margin: 15% 15% 10% 15%;
    padding: 0;

    border-radius: 20px;
    border: solid 5px rgb(1, 107, 1);

    transition: all 0.3s ease;
}

.button_big1:hover{
    color: white;
    background: rgb(28, 194, 28);
    border: solid 5px rgb(1, 107, 1);
}

.button_big1:active{
    color: rgb(187, 78, 9);
    background: rgb(234, 202, 19);
    border: solid 5px rgb(192, 132, 1);
}




.button_big1 h2{
    border-bottom: 8px solid white;
    padding-bottom: 10px; 

    padding: 10px 0px 30px 0px;
    margin: 20px 0px 0px 0px;

    font-size: 50px;
}

.button_big1 h3{
    font-size: 30px;

    margin: 34px;
}

.header{
    background-color: rgb(17, 143, 162);
    color: white;
    
    padding: 10px;
}

.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: #121d1e;
}





.swiper {
    width: 300px;      /* 横幅 */
    height: 300px;     /* 高さ固定 */

    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    margin-top: 60px;
}



.swiper-slide {
    display: flex;
    justify-content: center; /* 横中央 */
    align-items: center;     /* 縦中央 */
    height: 100%;            /* Swiperの高さに合わせる */
}


.swiper-slide img {
    max-height: 40%; /* はみ出さない */
    width: auto;
    border-radius: 10px;

    margin: 90px 0px 10px 0px;
    padding: 0px;
}


/*
.swiper-pagination-bullet {
    background-color: red !important;
    width: 14px !important;
    height: 14px !important;
}

.swiper-pagination-bullet-active {
    background-color: darkred !important;
    width: 18px !important;
    height: 18px !important;
}

.swiper-button-next,
.swiper-button-prev {
    filter: invert(38%) sepia(89%) saturate(5927%) hue-rotate(0deg) brightness(95%) contrast(95%);
}
*/


.swipers{
  display: flex;
}

table {
  width: 100%;          /* 表全体の幅 */
  border-collapse: collapse; /* 余白を消す場合 */
  margin-top: 50px;
}

td {
  text-align: center;   /* 横中央揃え */
  width: 33.33%;        /* 3列均等 */
}



/* クリックしたら波紋が広がる */

.btnripple{
    /*波紋の基点とするためrelativeを指定*/
	position: relative;
    /*はみ出す波紋を隠す*/
	overflow: hidden;
    /*ボタンの形状*/
    text-decoration: none;
	display:inline-block;
	background: rgb(17, 143, 162);
	color: #fff;
	padding: 10px 20px;
	border-radius: 25px;
  outline: none;

  display: inline-block;
  margin-top: 70px;
  margin-left: 850px;

 
}

.btnripple::after {
    content: "";
    /*絶対配置で波紋位置を決める*/
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /*波紋の形状*/
    background: radial-gradient(circle, #fff 10%, transparent 10%) no-repeat 50%;
    transform: scale(10, 10);
    /*はじめは透過0に*/
    opacity: 0;
    /*アニメーションの設定*/
    transition: transform 0.3s, opacity 1s;
}

/*クリックされたあとの形状の設定*/
    .btnripple:active::after {
    transform: scale(0, 0);
    transition: 0s;
    opacity: 0.3;
}