<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>スタート画面</title>

    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="header">
        <h3>きっぷの種類をお選びください</h3>
    </div>

        <div class="button_big1">
            <h2>きっぷを買う</h2>
            
            <h3>人生という旅に出かける</h3>
        </div>

    <div class="footer">
        <br>
    </div>

</body>
</html>